
*{
   font-family: 'Open Sans', sans-serif;
}

:root {
   --themeColorA: #dd36db;
   --themeColorA_h: #f4407c;
}

.container{
   padding: 50px 10px;
}

/* HEADER */

.main_header {
 background-color: #000;
 color: #fff;
}